html, body, *{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* NEEDED IN EVERY PROJECT */


body{
    background-color: #f9f9e2;
    
}
.smaller{
    font-size: 28px;
    color:#536c41;
    margin: 1rem;
}

.title1{
    color:#536c41;
    background-color: #73b4aa;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: rotate(0deg);
    
}

h1{
    font-size: 40px;
    text-align: center;
    position: relative;

}
h2{
    font-size: 18px;
    text-align: center;
    color: #536c41;
    position: relative;
}
p{
    text-align: center;
    margin-top: 0.75vw;
    margin-bottom: 1vw;
}

div{
    margin: auto;
}

.div{
    width: 40rem;
    height: 7rem;
}

.container{
    width: 90vw;
    margin: 2rem auto;
    margin: auto;

}

.post{
    height: 40rem;
    width: 50rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    background-color: #73b4aa;
    margin-top: 15px;
    margin-bottom: 15px;
}
.card-img{
    width: 100%;
    height: 100%;
    /* object fit fixes aspect ratio of img if needed*/
    object-fit: cover;
}
.dr-img{
    width: 100%;
    height: 83%;
    object-fit: cover;
}
.card-title{
    font-size: 30px;
}
