html, body, *{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* NEEDED IN EVERY PROJECT */


body{
    background-color: #f9f9e2;
}
li{
    color: black
}
.smaller{
    font-size: 28px;
    color:#73b4aa;
    margin: 1rem;
}
.first{
    color:purple
}
.title{
    color:#73b4aa;
}
h1{
    font-size: 40px;
    text-align: center;
}
h2{
    font-size: 18px;
    text-align: center;
}
p{
    text-align: center;
}
img{
    width: 500px;
}


div{
    width:70%;
    height:50%;
    border: 2px black;
    border-radius: 5px;
}
.container{
    justify-content: space-between;
    flex: auto;
    flex-wrap: wrap;
}

.post{
    height: 250px;
    width: 150px;
    background-color: white;
    margin: 10px auto;
    padding: 25px;
}
.post-img{
    width: 100%;
    height: 50%;
    /* object fit fixes aspect ratio of img if needed*/
    object-fit: cover;
}