html, body, *{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* NEEDED IN EVERY PROJECT */


body{
    background-color: #f9f9e2;
}
.smaller{
    font-size: 28px;
    color:#536c41;
    margin: 1rem;
}

.title{
    color:#536c41;
}
h1{
    font-size: 40px;
    text-align: center;
}
h2{
    font-size: 18px;
    text-align: center;
    color: #73b4aa;
}
p{
    text-align: center;
}



div{
    width: 40rem;
    height:30rem;
    border: 2px black;
    border-radius: 5px;
    margin: auto;

}
.container{
    width: 90vw;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.post{
    height: 30rem;
    width: 50rem;
    background-color: white;
    margin: 10px auto;
    padding: 25px;
}
.card-img{
    width: 100%;
    height: 50%;
    /* object fit fixes aspect ratio of img if needed*/
    object-fit: cover;
}